<head>
  <link rel="stylesheet" href="components/footer/footer.css" />
</head>

<footer>
  <nav aria-label="Links do rodapé">
    <ul class="footer-links">
      <li>
        <a
          href="https://www.unifeso.edu.br/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Unifeso
        </a>
      </li>
      <li>
        <a
          href="https://www.gov.br/receitafederal/pt-br/acesso-a-informacao/acoes-e-programas/cidadania-fiscal/naf"
          target="_blank"
          rel="noopener noreferrer"
        >
          NAF - Receita Federal
        </a>
      </li>
      <li>
        <a href="contato.html">Contato</a>
      </li>
      <li>
        <a href="avaliacao.html">Avaliação do Serviço</a>
      </li>
    </ul>
  </nav>
</footer>
<script src="footer.js"></script>
