/* Estilização geral */
body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 70px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título */
h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #006b64;
  text-align: center;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #006b64;
}

input,
textarea,
button {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  border-color: #006b64;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 107, 100, 0.5);
}

button {
  background-color: #006b64;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005859;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  text-align: center;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .container {
    padding: 15px;
    margin: 30px auto;
  }

  h2 {
    font-size: 1.5rem;
  }

  input,
  textarea,
  button {
    font-size: 0.9rem;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
    margin: 20px auto;
  }

  h2 {
    font-size: 1.2rem;
  }

  input,
  textarea,
  button {
    font-size: 0.8rem;
    padding: 6px;
  }
}
